


p{
    font-size: xx-large;
    text-align: center;

}
head{

}
body {
    background: #e3f2fd;
    color: #0d47a1;
    margin-top: 10%;
    text-align: center;
    font-family: Century;


}

button{
    border-radius: 20%;
    color: #0d47a1;
    font-family: Century;
}

@media only screen and (max-width: 600px) {
    body{
        margin-top: 50%;

    }

 }