<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>
    <h1 class="center">Please read the following information:</h1>
    <div class="frame">
        <ul>
            <li>Kylie Jenner has been a supporter of cryptocurrency for a long time and does not shy away <br>
            from expressing his views on Twitter.</li>
            <br>
            <li>Kevin Hart argues that if you invest and buy a lot of virtual currencies, it will make you <br>
            rich, as happened to his co-workers.</li>
            <br>
            <li>George Clooney claims that investing in cryptocurrency is the faster way to be rich.</li>
            <br>
            <li>Theater and Movie stars showing growing interest in understanding the economics and the price <br>
            mechanisms among cryptocurrencies.</li>
            <br>
           <li>Anyone who understands blockchain technology (the technology cryptocurrencies based on) will <br>
            make money and get rich quick.</li>
            <br>
            <li>Jerry Seinfeld claims that Bitcoin is a more stable currency than the EUR.</li>
            <br>
            <li>The advantages of cryptocurrencies is that people that own it considered as more educated and <br>
            smart.</li>
            <br>
            <li>Morgan Freeman claims that cryptocurrency removes central banks from managing the money supply.</li>
            <br>
            <li>Brad Pitt claims that blockchain and related technology will disrupt many industries,<br>
            including finance and law.</li>
        </ul>
        <br>
        <br>
    <button  onclick="window.location.href='opinion'" type="submit">NEXT </button>
        <br>
        <br>
    </div>





</body>
</html>
