{% extends 'arguments.html' %}

{% block arguments %}
<main>
    <p>
        1. Tesla CEO Elon Musk has been a supporter of cryptocurrency for a long time.<br>
            He does not shy away from expressing his views on Twitter and investing a lot.<br>
        3.	Investors and economists showing growing interest in understanding the economics<br>
            and the price mechanisms among cryptocurrencies.<br>
        4.	Blockchains (the technology cryptocurrencies based on) create a new investable<br>
            class of assets in areas not previously available through financial inclusion.<br>
    </p>
</main>

{% endblock %}