<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>BGU Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script>

</head>

    {% if  session %}
        {% if  session['id'] %}
            {% if  session['info'] == 1 and session['argumentsC'] == 0 %}
                <body>
                    <h1 class="center">Please read the following information:</h1>
                    <div class="frame">
                        <br>
                        <ul>
                            <li>Kylie Jenner has been a supporter of cryptocurrency for a long time and does not shy away
                            from expressing his views on Twitter.</li>
                            <br>
                            <li>Kevin Hart argues that if you invest and buy a lot of virtual currencies, it will make you
                            rich, as happened to his co-workers.</li>
                            <br>
                            <li>George Clooney claims that investing in cryptocurrency is the faster way to be rich.</li>
                            <br>
                            <li>Theater and Movie stars show growing interest in understanding the economics and the price
                            mechanisms among cryptocurrencies.</li>
                            <br>
                           <li>Anyone who understands blockchain technology (the technology cryptocurrencies are based on) will
                            make money and get rich quickly.</li>
                            <br>
                            <li>Jerry Seinfeld claims that Bitcoin is a more stable currency than the EUR.</li>
                            <br>
                            <li>The advantage of cryptocurrencies is that people who own it are considered more educated and
                                smarter.</li>
                            <br>
                            <li>Morgan Freeman claims that cryptocurrency removes central banks from managing the money supply.</li>
                            <br>
                            <li>Brad Pitt claims that blockchain and related technology will disrupt many industries,
                            including finance and law.</li>
                        </ul>
                        <br>
                        <br>
                         <div class = "center">
                            <button  onclick="window.location.href='opinion'" type="submit">NEXT </button>
                         </div>
                        <br>
                        <br>
                    </div>
                </body>
                {% else %}
                    <body onload="window.location.href='error'">

                    </body>
            {% endif %}
        {% endif %}
        {% else %}
            <body>
                <div class="frame" style="color: #9C1A1C">
                    Please log in with your entry code.
                </div>
            </body>
    {% endif %}

</body>
</html>
