<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>
    <h1 class="center">Please read the following information:</h1>
    <div class="frame">
        <ul>
            <li>Tesla CEO Elon Musk has been a supporter of cryptocurrency for a long time.<br>
                He does not shy away from expressing his views on Twitter and investing a lot.</li>
            <br>
            <li>Investors and economists showing growing interest in understanding the economics<br>
                and the price mechanisms among cryptocurrencies.</li>
            <br>
            <li>Blockchains (the technology cryptocurrencies based on) create a new investable<br>
                class of assets in areas not previously available through financial channels.</li>
        </ul>
    </div>


    <button  onclick="window.location.href='opinion'" type="submit">NEXT </button>


</body>
</html>
