<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
</head>
<body>
    <h1>Please read the following information:</h1>
        <ul>
       <li>Kylie Jenner has been a supporter of cryptocurrency for a long time and does not shy away <br>
        from expressing his views on Twitter.</li>
        <li>Theater and Movie stars showing growing interest in understanding the economics and the price <br>
        mechanisms among cryptocurrencies.</li>
        <li>Anyone who understands blockchain technology (the technology cryptocurrencies based on) will <br>
        make money and get rich quick.</li>
    </ul>



    <button  onclick="window.location.href='opinion'" type="submit">NEXT </button>


</body>
</html>
