<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>BGU Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script>

</head>
    {% if  session %}
        {% if  session['id'] %}
            {% if  session['consent'] == 0 %}
                <body>
                <h1 class="center">Consent Form</h1>
                <div class="frame">

                    <p> You are about to participate in a decision-making experiment conducted by researchers from
                        Ben-Gurion University. The experiment was approved by the university’s ethics committee.
                    </p>

                    <p>During the experiment, you will be asked to read a short text and to answer some questions.
                    </p>

                    <p> Upon completion of the task, you will receive monetary compensation of 0.7$ via
                        Amazon Mechanical Turk.
                    </p>

                    <p> You can withdraw your participation at any given time. However, bear in mind that only
                        participants who completed the task will receive compensation.
                    </p>

                    <p>We value your privacy and do not make any use of your personal data. There is no, and
                        there will not be, any way to relate your answers to any of your personal information.
                    </p>
{#                    <h3 class="underLine">Contact Information:</h3>#}
                    <p>If you have any question regarding the task, you can contact us via email:<br>
                       shelly.anna.rotem@gmail.com

                    </p>
                    <h3 class="underLine">Electronic Consent:</h3>
                    <p>
                        Please select your choice below:<br>
                    </p>
                    <form action="/Check" method="POST">
                        <input type="radio" id="agree" name="consent" value="agree" required>
                        <label for="agree">Agree – I have read the above information and voluntarily agree to participate</label><br>
                        <input type="radio" id="disagree" name="consent" value="disagree">
                        <label for="disagree">Disagree – I am not willing to participate</label><br>
                        <br>
                        <br>
                        <div class = "center">
                            <button   type="submit">NEXT </button>
                        </div>
                    </form>
                    <br>
                </div>
                </body>
                {% else %}
                    <body onload="window.location.href='error'">

                    </body>
            {% endif %}
        {% endif %}
        {% else %}
            <body>
                <div class="frame" style="color: #9C1A1C">
                    Please log in with your entry code.
                </div>
            </body>
    {% endif %}


<script src="{{ url_for('static', filename='./js/final_project.js') }}"></script>
</html>