<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>

</head>
<body>
    <h1 class="center">Consent Form</h1>
    <div class="frame">
        <h3 class="underLine">Purpose:</h3>
        <p> You are being asked to participate in a decision-making  study being conducted by
            Rotem Sarusi , Anna Pertzovski, Shelly Frumkin under the guidance of Associate
            Professor Lior Fink and PHD candidate Naana Ilany-Tzur from the IEM Department of Ben Gurion University,
            Israel.
        </p>
        <h3 class="underLine">Approval:</h3>
        <p>The experiment has been approved by Ben-Gurion University’s ethics committee.
        </p>
        <h3 class="underLine">Procedures:</h3>
        <p> If you choose to be in the study, you will complete a digital experiment. All the questions are mandatory.
            The survey will take about 20 minutes to complete.
        </p>
        <h3 class="underLine"> Confidentiality:</h3>
        <p> Your Mechanical Turk Worker ID will be used to distribute the payment to you,but we will not store your
            worker ID with your survey responses. Please be aware that your Mturk Workers ID can potentially be linked
            to information about you on your Amazon Public Profile page, however we will not access any personally
            identifying information from your Amazon Public Profile.
        </p>
        <h3 class="underLine">Costs/Payments:</h3>
        <p>Upon completion of the experiment, you will reach a completion page in which you will receive
            a verification code.
            This code will verify that you completed the experiment in Amazon Mechanical Turk so that you will
            receive credit for this task.
        </p>
        <h3 class="underLine">Contact Information:</h3>
        <p>If you have questions about the research, you can contact us with email:<br>
            annaper@post.bgu.ac.il or sarrot@post.bgu.ac.il
        </p>
        <h3 class="underLine">Electronic Consent:</h3>
        <p>
            Please select your choice below. You may print a copy of this consent form for your records.<br>
            Clicking on the “Agree” button indicates that:<br>
            •	You have read the above information<br>
            •	You voluntarily agree to participate<br>
        </p>
    {#    {%  if session['group'] %}#}
        <form action="/Check" method="POST">
            <input type="radio" id="agree" name="consent" value="agree" required>
            <label for="agree">Agree</label><br>
            <input type="radio" id="disagree" name="consent" value="disagree">
            <label for="disagree">Disagree</label><br>
            <br>
            <br>
            <button   type="submit">NEXT </button>
        </form>
        <br>
    </div>
</body>

<script src="{{ url_for('static', filename='./js/final_project.js') }}"></script>
</html>