<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

    {% if  session %}
        {% if  session['id'] %}
            {% if session['opinion'] == 1 and session['demographic1'] == 0 %}
                <body>
                     <h1 class="center"><b>Please answer the following questions:</b></h1>
                       {% with messages4 = get_flashed_messages() %}
                            {% if messages4 %}
                                {% for ms in messages4 %}
                                    <h4 style="color: #9C1A1C">{{ ms }}</h4>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                    <div class="frame">
                    <h2>General and demographic questions:</h2>
                        <form action ='/handleDemo1' method="POST">
                            <h3>What is your age?</h3>
                            <input type="radio" id="20" name="age" value="20" required>
                            <label for="20">20-29</label><br>
                            <input type="radio" id="30" name="age" value="30">
                            <label for="30">30-39</label><br>
                            <input type="radio" id="40" name="age" value="40">
                            <label for="40">40-49</label><br>
                            <input type="radio" id="50" name="age" value="50">
                            <label for="50">50+</label><br>

                            <h3>What gender do you identify as?</h3>
                            <input type="radio" id="female" name="gender" value="female" required>
                            <label for="female">Female</label><br>
                            <input type="radio" id="male" name="gender" value="male">
                            <label for="male">Male</label><br>
                            <input type="radio" id="other" name="gender" value="other">
                            <label for="other">Other</label><br>


                            <h3>What is the highest degree or level of education you have completed?</h3>
                            <input type="radio" id="elementary" name="education" value="elementary" required>
                            <label for="elementary">Elementary</label><br>
                            <input type="radio" id="school" name="education" value="school">
                            <label for="school">High School</label><br>
                            <input type="radio" id="professional" name="education" value="professional">
                            <label for="professional">Professional</label><br>
                            <input type="radio" id="bachelor" name="education" value="bachelor">
                            <label for="bachelor">Bachelor's Degree</label><br>
                            <input type="radio" id="master" name="education" value="master">
                            <label for="master">Master's Degree</label><br>
                            <input type="radio" id="phd" name="education" value="phd">
                            <label for="phd">Ph.D. or higher</label><br>


                            <h3>What is your annual household income?</h3>
                            <input type="radio" id="0" name="income" value="0" required>
                            <label for="0">0-$25,000</label><br>
                            <input type="radio" id="25" name="income" value="25">
                            <label for="25">$25,000 - $50,000</label><br>
                            <input type="radio" id="50income" name="income" value="50">
                            <label for="50income">$50,000 - $100,000</label><br>
                            <input type="radio" id="100" name="income" value="100">
                            <label for="100">$100,000+</label><br>


                            <h3>What is your current employment status?</h3>
                            <input type="radio" id="full" name="employment" value="full" required>
                            <label for="full">Employed Full-Time</label><br>
                            <input type="radio" id="part" name="employment" value="part">
                            <label for="part">Employed Part-Time</label><br>
                            <input type="radio" id="seeking " name="employment" value="seeking">
                            <label for="seeking">Seeking opportunities</label><br>
                            <input type="radio" id="retired" name="employment" value="retired">
                            <label for="retired">Retired</label><br>


                            <h3>How many hours a day do you on average use a computer (not for work)?</h3>
                            <input type="radio" id="0computer" name="computer" value="0" required>
                            <label for="0computer">0-2</label><br>
                            <input type="radio" id="2" name="computer" value="2">
                            <label for="2">2-4</label><br>
                            <input type="radio" id="4" name="computer" value="4">
                            <label for="4">4+</label><br>


                            <h3>How many hours a day on average do you use a cell phone (not for work)?</h3>
                            <input type="radio" id="0phone" name="phone" value="0" required>
                            <label for="0phone">0-2</label><br>
                            <input type="radio" id="2phone" name="phone" value="2">
                            <label for="2phone">2-4</label><br>
                            <input type="radio" id="4phone" name="phone" value="4">
                            <label for="4phone">4+</label>
                            <br>
                            <br>
                            <br>
                            <button   type="submit">NEXT </button>
                        </form>
                    <br>
                    <br>
                    </div>
               </body>
                {% else %}
                    <body onload="window.location.href='error'">

                    </body>
            {% endif %}
        {% endif %}
        {% else %}
            <body>
                <div class="frame" style="color: #9C1A1C">
                    Please log in with your entry code.
                </div>
            </body>
    {% endif %}

</body>
</html>