<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>BGU Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

    {% if  session %}
        {% if  session['id'] %}
            {% if session['opinion'] == 1 and session['demo1'] == 0 %}
                <body>
                     <h1 class="center"><b>Please answer the following questions:</b></h1>
                       {% with messages4 = get_flashed_messages() %}
                            {% if messages4 %}
                                {% for ms in messages4 %}
                                    <h4 style="color: #9C1A1C">{{ ms }}</h4>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                    <div class="frame">
                        <h2>Demographic questions:</h2>
                            <form action ='/handleDemo1' method="POST">
                                <h3>What is your age?</h3>
                                <input type="radio" id="20" name="age" value="20" required>
                                <label for="20">20-29</label><br>
                                <input type="radio" id="30" name="age" value="30">
                                <label for="30">30-39</label><br>
                                <input type="radio" id="40" name="age" value="40">
                                <label for="40">40-49</label><br>
                                <input type="radio" id="50" name="age" value="50">
                                <label for="50">50+</label><br>

                                <h3>What is your gender?</h3>
                                <input type="radio" id="female" name="gender" value="female" required>
                                <label for="female">Female</label><br>
                                <input type="radio" id="male" name="gender" value="male">
                                <label for="male">Male</label><br>
                                <input type="radio" id="other" name="gender" value="other">
                                <label for="other">Other</label><br>


                                <h3>What is your level of education?</h3>
                                <input type="radio" id="elementary" name="education" value="elementary" required>
                                <label for="elementary">Elementary</label><br>
                                <input type="radio" id="school" name="education" value="school">
                                <label for="school">High School</label><br>
                                <input type="radio" id="professional" name="education" value="professional">
                                <label for="professional">Professional</label><br>
                                <input type="radio" id="bachelor" name="education" value="bachelor">
                                <label for="bachelor">Bachelor's Degree</label><br>
                                <input type="radio" id="master" name="education" value="master">
                                <label for="master">Master's Degree</label><br>
                                <input type="radio" id="phd" name="education" value="phd">
                                <label for="phd">Ph.D. or higher</label><br>


                                <h3>What is your annual household income?</h3>
                                <input type="radio" id="0" name="income" value="0" required>
                                <label for="0">0-$25,000</label><br>
                                <input type="radio" id="25" name="income" value="25">
                                <label for="25">$25,001 - $50,000</label><br>
                                <input type="radio" id="50income" name="income" value="50">
                                <label for="50income">$50,001 - $100,000</label><br>
                                <input type="radio" id="100" name="income" value="100">
                                <label for="100">$100,001+</label><br>


{#                                <h3>What is your current employment status?</h3>#}
{#                                <input type="radio" id="full" name="employment" value="full" required>#}
{#                                <label for="full">Employed Full-Time</label><br>#}
{#                                <input type="radio" id="part" name="employment" value="part">#}
{#                                <label for="part">Employed Part-Time</label><br>#}
{#                                <input type="radio" id="seeking " name="employment" value="seeking">#}
{#                                <label for="seeking">Seeking opportunities</label><br>#}
{#                                <input type="radio" id="retired" name="employment" value="retired">#}
{#                                <label for="retired">Retired</label><br>#}


                                <h3>How many hours a day do you use a computer for non-work purposes?</h3>
                                <input type="radio" id="0computer" name="computer" value="0" required>
                                <label for="0computer">0-2</label><br>
                                <input type="radio" id="3" name="computer" value="3">
                                <label for="3">3-5</label><br>
                                <input type="radio" id="5" name="computer" value="5">
                                <label for="5">5+</label><br>


                                <h3>How many hours a day do you use a mobile phone for non-work purposes?</h3>
                                <input type="radio" id="0phone" name="phone" value="0" required>
                                <label for="0phone">0-2</label><br>
                                <input type="radio" id="3phone" name="phone" value="3">
                                <label for="3phone">3-5</label><br>
                                <input type="radio" id="5phone" name="phone" value="5">
                                <label for="5phone">5+</label>
                                <br>
                                <br>
                                <br>
                                <div class = "center">
                                    <button   type="submit">NEXT </button>
                                </div>
                            </form>
                        <br>
                        <br>
                    </div>
                </body>
                {% else %}
                    <body onload="window.location.href='error'">

                    </body>
            {% endif %}
        {% endif %}
        {% else %}
            <body>
                <div class="frame" style="color: #9C1A1C">
                    Please log in with your entry code.
                </div>
            </body>
    {% endif %}


</html>