<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/> <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1>You have chosen to disagree to the terms and therefore you will not be able to perform the task.<br>
        If you want to perform the task you must log in again with the same code and agree to the terms.</h1>

</body>
</html>