<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>BGU Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
</head>
<body>
<form action="/errorHandle ">
    <div class="frame" >
        <h3 style="color: #9C1A1C"> You are not supposed to be in this page. Go back...</h3>
        <div class="center">
            <button type="submit">Go Back</button>
        </div>
        <br>
        <br>
    </div>



</form>
</body>
</html>