<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>ELM experiment</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/final_project.css') }}"/>

        <p id="date"></p>
        <script>
           document.write(new Date().toLocaleDateString());
        </script>
</head>
<body>

        <h1> Welcom</h1>

		<form method="POST" enctype="multipart/form-data" action="/connect">
			<div class="container">
				<h3><label>Please enter your entry code</label></h3>
				<input type="text" placeholder="entry code" name="entryCode" id="entryCode"  required >
				<button  type="submit">OK </button>
			</div>
		</form>

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for ms in messages %}
                    <h4>{{ ms }}</h4>
                {% endfor %}
            {% endif %}
        {% endwith %}

</body>
{#<script src="{{ url_for('static', filename='./js/final_project.js') }}"></script>#}
</html>