<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>BGU Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script>

</head>

    {% if  session %}
        {% if  session['id'] %}
            {% if  session['position'] == 1 and session['info'] == 0 %}
                <body>
{#                    <h1 class="center"> Introduction:</h1>#}
                    <div class="frame">
                        <br>
                        <br>
                        Cryptocurrencies is a means of payment, created by technological means. Its value
                        is not determined by the value of goods or by the determination of one central body,
                        rather by agreement between a network of users. The best known example of a
                        cryptocurrency is Bitcoin. Other examples are the Etherium and Ripple. Most
                        cryptocurrencies are based on blockchain technology, of which Bitcoin was its first
                        prominent application.<br>
                        <br>
                        <br>

                    {%  if session['group'] %}
                        <form action="/{{ session['group'] }} ">
                            <div class = "center">
                                <button type="submit">NEXT </button>
                            </div>
                        </form>
                    {% endif %}
                    <br>
                    <br>
                    </div>
                </body>
                {% else %}
                    <body onload="window.location.href='error'">

                    </body>
            {% endif %}
        {% endif %}
        {% else %}
            <body>
                <div class="frame" style="color: #9C1A1C">
                    Please log in with your entry code.
                </div>
            </body>
    {% endif %}


</html>