<!DOCTYPE html>
<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>

</head>
<body>
    <h1 class="center"> Introduction:</h1>
    <div class="frame2">
        <br>
        <br>
        Cryptocurrencies is a means of payment, created by technological means. Its value<br>
        is not determined by the value of goods or by the determination of one central body,<br>
        rather by agreement between a networks of users. The best known example of a cryptocurrency<br>
        is Bitcoin. Other examples are the Etherium and Ripple. Most cryptocurrencies are based<br>
        on blockchain technology, of which Bitcoin was its first prominent application.<br>
        <br>
{#        A blockchain is a growing list of records, called blocks that are linked together using <br>#}
{#        cryptography. Each contain information about the block previous to it, they form a chain,<br>#}
{#        with each additional block reinforcing the ones before it. Therefore, blockchains are<br>#}
{#        resistant to modification of their data because once recorded, the data in any given<br>#}
{#        block cannot be altered retroactively without altering all subsequent blocks.#}

            <br>

    {%  if session['group'] %}
        <form action="/{{ session['group'] }} ">
            <button type="submit">NEXT </button>
        </form>
    {% endif %}
    <br>
    <br>

    </div>


</body>
</html>