<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>BGU Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script>

</head>

<body>
    {% if  session %}
        {% if  session['id'] %}
            {% if  session['consent'] == 1 and  session['instructions'] == 0 %}
                <body>
                    <h1 class="center">Instructions:</h1>
                    <div class="frame">
                        <br>
                        <br>
                        In the following web pages, you will be presented with a series of questions and some text.<br>
                        <br>
                        You are required to answer all questions and read all the text until you reach the completion
                        page. Please read the text carefully and answer the questions deliberately.<br>
                        <br>
                        Once you have completed all reading tasks and answering questions on a certain page move forward.
                        Please do not move back to previous pages. The task should be performed independently. You are requested not to pass on
                        information about the content of the task to any other potential participant.<br>
                        <br>
                        Only participants who have completed the task will be eligible for monetary compensation.<br>
                        Please do not perform this task more than once.<br>
                        <br>
                        <br>
                        <div class="center">
                            <button onclick="window.location.href='position'" type="submit">NEXT </button>
                        </div>
                        <br>
                        <br>

                    </div>
                    <br>
                </body>
                {% else %}
                    <body onload="window.location.href='error'">

                    </body>
            {% endif %}
        {% endif %}
        {% else %}
            <body>
                <div class="frame" style="color: #9C1A1C">
                    Please log in with your entry code.
                </div>
            </body>
    {% endif %}


</body>
</html>