<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>

</head>
<body>


    <h1 class="center">Instructions:</h1>
    <div class="frame">
        <br>
        <br>
       During the task you will be presented with a series of web pages.<br>
       On the first page you will be asked to rate your level of agreement of various issues.<br>
       Please be honest. Afterwards you will be presented with information about a particular topic and<br>
       you will be asked to reply to questions about it.<br>
       <br>
       To complete the task you must complete all pages until you reach the final page.<br>
       It is not possible to move backwards between the pages, so move forward only when you<br>
       are completely satisfied with the answers you have provided.<br>
       The task should be performed alone and independently.<br>
       You are requested not to pass on information about the content of the task to any other<br>
       participant.<br>
        <br>
       To get the payout you must complete the task and answer all the questions.<br>
       Please note that the task must be performed only once! Performing the task a number of<br>
       times will be rewarded for a single execution.<br>
        <br>
        <button onclick="window.location.href='position'" type="submit">NEXT </button>
        <br>
        <br>
        <br>
    </div>
    <br>






</body>
</html>