<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
</head>
<body>


    <h1>Instructions:</h1>
    <p>During the experiment you will be presented aHere is a series of web pages.<br>
       On the first page you will be asked to answer about your position is on various issues.<br>
       Please be honest. Then you will be presented with information on a particular topic and<br>
       you will need to answer the questions about it.<br>
       <br>
       To complete the experiment you must go through the pages until you reach the end page.<br>
       It is not possible to move backwards between the pages, so move forward only when the<br>
       answers you have provided are final for you.<br>
       The experiment should be performed alone and independently.<br>
       You are requested not to pass on information about the content of the assignment to any other participant.<br>
        <br>
       To win the payout you must complete the task in full and answer all the questions.<br>
</p>
<br>
    <button  onclick="window.location.href='position'" type="submit">NEXT </button>





</body>
</html>