<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>BGU Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>

</head>
        {% if  session %}
            {% if  session['id'] %}
                {% if session['demo2'] == 1 and session['last_page'] == 0 %}
                    <body>
                        <h2>Thank you for participation! </h2>
                        <h2>Please note that the information in this experiment is not necessarily reliable.<br>
                            We encourage you to further research the topic of cryptocurrency.</h2>
                    </body>
                    {% else %}
                        <body onload="window.location.href='error'">

                        </body>
                {% endif %}
            {% endif %}
            {% else %}
                <body>
                    <div class="frame" style="color: #9C1A1C">
                        Please log in with your entry code.
                    </div>
                </body>
        {% endif %}

</html>