<!DOCTYPE html>
<html lang="en">
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script>
</head>

    {% if  session %}
        {% if  session['id'] %}
            {% if session['opinion'] == 0 and (session['argumentsA'] == 1 or session['argumentsB'] == 1 or
            session['argumentsC'] == 1 or session['argumentsD'] == 1) %}
                <body>
                    <h1 class="center"> Please indicate your level of agreement on each of the following statements: </h1>
                    <h2 class="center">(On a scale 0 to 100. 0 indicates I strongly disagree and 100 indicate I strongly agree.) </h2>

                         {% with messages3 = get_flashed_messages() %}
                            {% if messages3 %}
                                {% for ms in messages3 %}
                                    <h4 class="center" style="color: #9C1A1C">{{ ms }}</h4>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                    <div class="frame">
                        <form action ='/handleOpinion' method="POST">
                            <h3>Investing in virtual currencies is beneficial.</h3>
                                <div class="range-wrap">
                                    <input type="range" class="range" name="o1" min="-1" max="100" value="-1">
                                    <output class="bubble"></output>
                                </div>
                                <h3>Holding one/several different crypto currencies is a safe investment.</h3>
                                <div class="range-wrap">
                                    <input type="range" class="range" name="o4" min="-1" max="100" value="-1">
                                    <output class="bubble"></output>
                                </div>
                            <div class = "center">
                                <button type="submit">NEXT </button>
                            </div>
                        </form>
                        <br>
                        <br>
                        <br>
                    </div>
                </body>
                {% else %}
                    <body onload="window.location.href='error'">

                    </body>
            {% endif %}
        {% endif %}
        {% else %}
            <body>
                <div class="frame" style="color: #9C1A1C">
                    Please log in with your entry code.
                </div>
            </body>
    {% endif %}

<script src="{{ url_for('static', filename='./js/final_project.js') }}"></script>
</html>