<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
</head>
<body>

    <h1> Please mark your level of agreement on the following subjects: </h1>
        <h2>1</h2>
        <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
        </div>



    <br>
    <br>
    <br>
    <br>
     <button  onclick="window.location.href='arguments'" type="submit">NEXT </button>
</body>

{#<script src="{{ url_for('static', filename='./js/final_project.js') }}"></script>#}
</html>