<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questions.css') }}"/>
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
    </script>
</head>
<body>

    <h1> Please mark your level of agreement on the following subjects: </h1>

    <form>
     <h3>1.	Do you agree that a master's degree is the key to success in life?</h3>
        <div class="range-wrap">
            <input type="range" class="range" min="0" max="100" value="0">
            <output class="bubble"></output>
        </div>
     </form>
    <form>
     <h3>2.	Does every child over the age of 6 have to get a smartphone?</h3>
        <div class="range-wrap">
            <input type="range" class="range" min="0" max="100" value="0">
            <output class="bubble"></output>
        </div>
     </form>
    <form>
     <h3>3.	Do you think people should stop buying plastic products?</h3>
        <div class="range-wrap">
            <input type="range" class="range" min="0" max="100" value="0">
            <output class="bubble"></output>
        </div>
     </form>
    <form>
     <h3>4.	Do you agree that it is worthwhile to invest in virtual currencies?</h3>
        <div class="range-wrap">
            <input type="range" class="range" min="0" max="100" value="0">
            <output class="bubble"></output>
        </div>
     </form>
    <form>
     <h3>5.	Do you agree that hybrid work is more beneficial than frontal work?</h3>
        <div class="range-wrap">
            <input type="range" class="range" min="0" max="100" value="0">
            <output class="bubble"></output>
        </div>
     </form>
    <form>
     <h3>6.	Should the sale of sweetened beverages be banned in schools?</h3>
        <div class="range-wrap">
            <input type="range" class="range" min="0" max="100" value="0">
            <output class="bubble"></output>
        </div>
     </form>
    <form>
     <h3>7.	Should all people be forced to get vaccinated against the corona?</h3>
        <div class="range-wrap">
            <input type="range" class="range" min="0" max="100" value="0">
            <output class="bubble"></output>
        </div>
     </form>
    <form>
     <h3>8.	Do you think people need to pass a test in order to drive an electric scooter?</h3>
        <div class="range-wrap">
            <input type="range" class="range" min="0" max="100" value="0">
            <output class="bubble"></output>
        </div>
     </form>
    <form>
     <h3>9.	Do you think veganism is a healthier way of life than carnivorism?</h3>
        <div class="range-wrap">
            <input type="range" class="range" min="0" max="100" value="0">
            <output class="bubble"></output>
        </div>
     </form>
    <form>
     <h3>10. Do you think the possession of private weapons should be banned?</h3>
        <div class="range-wrap">
            <input type="range" class="range" min="0" max="100" value="0">
            <output class="bubble"></output>
        </div>
     </form>
    <form>
     <h3>11. Should religious symbols be banned from schools?</h3>
        <div class="range-wrap">
            <input type="range" class="range" min="0" max="100" value="0">
            <output class="bubble"></output>
        </div>
     </form>


    <br>
    <br>
    <br>
    <br>
     <button  onclick="window.location.href='info'" type="submit">NEXT </button>

{#     <button  onclick="window.location.href='arguments'" type="submit">NEXT </button>#}
</body>

<script src="{{ url_for('static', filename='./js/final_project.js') }}"></script>
</html>